*{
    box-sizing: border-box;
}
.body{
    margin: 0;
}
.container{
    margin: 0 auto;
    max-width: 100%;
    height: 100%;
}
/*==========LIÊN HỆ==========*/
/*----header--------*/
.header{
    margin-bottom: 0px;
}
.header-top{
    background-color: #32502E;
    margin-bottom: -16px;
    height: 100px;
}
img{
    width: 180px;
    height: 84px;
    padding: 18px 0 2px 50px;
}
.log{
    margin-top: -61px;
}
.search-bt{
    margin-left: 500px;
    height: 50px;
    width: 100px;
    border-radius: 5px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    background-color: white;
    border: 2px solid #fff;
    margin-right: 20px;
}
.in-tk{
    width: 550px;
    height: 50px;
    margin-right: 50px;
    border-radius: 5px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    border: 2px solid #fff;
}
.log-in{
    width: 140px;
    height: 50px;
    border-radius: 5px;
    background-color: #0D16FD;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    border: 1px solid #fff;
}
.header-main{
    background-color: #406343;
    height: 70px;
}
#toggle {
    display: none;
    background: #32502E;
    color: #fff;
    text-align: right;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;

}
.menu{
    margin: 0;
    padding: 0;
    list-style: none;
    justify-content: space-between;
    align-items: center;
}
.menu li{
    display: inline-block;
    margin: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: bold;
}
.menu li a{
    padding: 40px;
    color: #fff;
    text-decoration: none;
}
.menu li a:hover{
    text-decoration: underline;
    color: #FF865E;
}
/*-----------word-----------*/
.word{
    list-style: none;
    background-color: #ECE7B4;
    height: 40px;
    padding: 5px 0 5px 98px;
    color: black;
}
.word-tc{
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    color: black;
}
.word-font{
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: black;
}
.word a:hover{
    text-decoration: underline;
}
/*------------main------------*/
.main{
    background-color: white;
}
.row{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    padding-left: 50px;
}
.colum{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
}
.colum h3{
   font-size: 30px;
}
.colum p{
    font-size: 24px;
    padding-bottom: 20px;
}
.colum table{
   font-size: 20px;
}
.colum table tr td{
    padding-bottom: 15px;
}
.tb-tr{
    font-weight: bold;
    padding-right: 115px;
}
.column{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
    padding-right: 15px;
}
.column h3{
    font-size: 30px;
}
.column p{
    font-size: 24px;
}
.column input{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
}
.col-in{
    width: 290px;
    height: 60px;
    margin-right: 40px;
    margin-bottom: 15px;
    border-radius: 5px;
}
.col-inp{
    width: 628px;
    height: 60px;
    margin-bottom: 15px;
    border-radius: 5px;
}
.col-inpt{
    width: 628px;
    height: 120px;
    margin-bottom: 15px;
    border-radius: 5px;
}
.col-p{
    margin-right: 15px;
}
.col-bt{
    background-color: #4889EA;
    border-radius: 5px;
    color: white;
    width: 270px;
    height: 60px;
    margin-bottom: 20px;
    margin-left: 50px;
    font-size: 20px;
    border: 2px solid #fff;
}
/*-------------footer--------------*/
.footer{
    background-color: #F3EFCC;
    height: 80px;
    margin-top: -20px;
}
.footer p{
    padding-top: 25px;
    padding-left: 100px;
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
}
.font-icon {
    margin-left: 1000px;
    margin-top: -47px;
}
.font-icon a{
    text-decoration: none;
}
.font-icon-ft{
    background-color: #F3EFCC;
    margin: 30px;
    height: 65px;
}
.font-icon-ft i{
    color: #4889EA;
}
@media only screen and (min-width: 1000px) and (max-width:1439px){
    .search-bt{
        width: 100px;
        height: 50px;
        margin-left: 300px;
    }
    .in-tk{
        width: 400px;
        height: 50px;
    }
    .log-in{
        width: 110px;
        margin-right: 20px;
    }
    .menu li a{
        padding: 15px;
    }
    .main{
        width: 100%;
    }
    .row{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
        padding-left: 0px;
    }
    .colum h3{
        font-size: 30px;
        padding-left: 10px;
    }
    .column h3{
        font-size: 30px;
        padding-left: 10px;
    }
    .colum p{
        font-size: 20px;
        padding-left: 10px;
    }
    .column p{
        font-size: 20px;
        padding-left: 10px;
        width: 510px;
    }
    .colum table{
        font-size: 15px;
     }
     .colum table tr td{
         padding-bottom: 15px;
     }
     .tb-tr{
         font-weight: bold;
         padding-right: 65px;
     }
    .column input{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 18px;
    }
    .col-in{
        width: 222px;
        height: 40px;
        margin-right: 20px;
        margin-bottom: 15px;
        border-radius: 3px;
        margin-left: 10px;
    }
    .col-inp{
        width: 480px;
        height: 40px;
        margin-bottom: 15px;
        border-radius: 3px;
        margin-left: 10px;
    }
    .col-inpt{
        width: 480px;
        height: 90px;
        margin-bottom: 15px;
        border-radius: 3px;
        margin-left: 10px;
    }
    .col-p{
        margin-right: 15px;
    }
    .col-bt{
        background-color: #4889EA;
        border-radius: 3px;
        color: white;
        width: 200px;
        height: 30px;
        margin-bottom: 10px;
        margin-left: 30px;
        font-size: 15px;
        border: 2px solid #fff;
    }
    .column p{
        font-size: 18px;
    }
    .footer p{
        font-size: 18px;
    }
    .font-icon{
        margin-left: 600px;
    }
}
@media only screen and (min-width: 768px) and (max-width:1000px){
    .search-bt{
        width: 90px;
        height: 40px;
        margin-left: 250px;
    }
    .in-tk{
        width: 200px;
        height: 40px;
    }
    .log-in{
        width: 110px;
        height: 40px;
    }
    .menu li a{
        padding: 3px;
        margin-left: -20px;
    }
    .word{
        padding-left: 40px;
    }
    .main{
        width: 100%;
    }
    .row{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 5px;
        padding-left: 0px;
    }
    .colum h3{
        font-size: 25px;
        padding-left: 5px;
    }
    .column h3{
        font-size: 25px;
        padding-left: 5px;
    }
    .colum p{
        font-size: 15px;
        padding-left: 5px;
    }
    .column p{
        font-size: 15px;
        padding-left: 5px;
        width: 380px;
    }
    .colum table{
        font-size: 13px;
     }
     .colum table tr td{
         padding-bottom: 15px;
     }
     .tb-tr{
         font-weight: bold;
         padding-right: 65px;
     }
    .column input{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 15px;
    }
    .col-in{
        width: 170px;
        height: 30px;
        margin-right: 10px;
        margin-bottom: 5px;
        border-radius: 2px;
        margin-left: 5px;
    }
    .col-inp{
        width: 360px;
        height: 30px;
        margin-bottom: 10px;
        border-radius: 2px;
        margin-left: 5px;
    }
    .col-inpt{
        width: 360px;
        height: 50px;
        margin-bottom: 10px;
        border-radius: 2px;
        margin-left: 5px;
    }
    .col-p{
        margin-right: 10px;
    }
    .col-bt{
        background-color: #4889EA;
        border-radius: 3px;
        color: white;
        width: 150px;
        height: 30px;
        margin-bottom: 10px;
        margin-left: 20px;
        font-size: 13px;
        border: 1px solid #fff;
    }
    .column p{
        font-size: 15px;
    }
    .colum table{
        padding-left: 5px;
    }
    
    .tb-tr{
        font-size: 15px;
    }
    .footer{
        height: 120px;
    }
    .footer p{
        text-align: center;
    }
    .font-icon{
        margin-left: 240px;
        margin-top: 1px;
    }
}
@media only screen and (min-width: 320px) and (max-width: 767px){
    .container{
        width: 100%;
    }
    .header-top{
        margin-top: -8px;
    }
    .header-top img{
        padding-bottom: 10px;
        margin-left: -25px;
    }
    .header-main{
        display: none;
    }
    .main h3{
        font-size: 20px;
        padding-left: 10px;
        margin-bottom: -5px;
    }
    .word{
        padding-left: 20px;
        padding-top: 9px;
    }
    .word-tc{
        font-size: 15px;
    }
    .word-font{
        font-size: 15px;
    }
    .row{
        display: grid;
        grid-template-columns: 1fr;
        padding-left: 10px;
    }
    .colum h3{
        margin-top: 10px;
        font-size: 15px;
        padding-bottom: 5px;
    }
    .colum p{
        font-size: 11px;
        padding-bottom: 5px;
    }
    .colum table{
        font-size: 10px;
     }
     .colum table tr td{
        padding-bottom: 10px;
     }
     .tb-tr{
        font-weight: bold;
        padding-right: 40px;
    }
    .column h3{
        margin-top: 10px;
        font-size: 15px;
        padding-bottom: 5px;
     }
     .column p{
        font-size: 11px;
        padding-bottom: 5px;
     }
     .column input{
        font-size: 10px;
        margin-left: 0px;
     }
     .col-in{
         height: 30px;
         margin-right: 5px;
         margin-bottom: 15px;
         border-radius: 5px;
         width: 100%;
         padding-left: 10px;
     }
     .col-inp{
        width: 100%;
         height: 30px;
         margin-bottom: 15px;
         border-radius: 5px;
         padding-left: 10px;
     }
     .col-inpt{
        width: 100%;
         height: 70px;
         margin-bottom: 15px;
         border-radius: 5px;
         margin-right: 10px;
         padding-left: 10px;
     }
     .col-p{
         margin-right: 15px;
     }
     .col-bt{
         background-color: #4889EA;
         border-radius: 5px;
         color: white;
         width: 100px;
         height: 30px;
         margin-bottom: 20px;
         margin-left: 10px;
         font-size: 10px;
         border: 2px solid #fff;
     }
    .footer{
        height: 100%;
        width: 100%;
        text-align: center;
    }
    .footer p{
        font-size: 12px;
        padding-left: 20px;
        padding-top: 5px;
    }
    .font-icon{
        margin-top: -2px;
        margin-left: 35px;
        text-align: center;
        padding-bottom: 5px;
    }
    .font-icon-ft{
        margin: 12px;
        font-size: 8px;
    }
    .ul {
        flex-direction: column;
        text-align: center;
    }

    #toggle {
        display: block;
        margin-top: -70px;
        padding-right: 30px;
        font-size: 30px;
    }

    .menu{
        display: none;
    }
    .log{
        display: none;
    }
}
